version: '3.8'

services:
  tictactoe-train:
    build: .
    container_name: tictactoe_a2c
    volumes:
      - ./saved_models:/app/saved_models
    environment:
      - PYTHONUNBUFFERED=1
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]